nav{
    position: absolute;
    width:100%;
    height: 20vh;
    padding: 2rem;
    display:flex;
    justify-content:space-between;
    color: #fff;
  }
 
  nav button{
    color: #fff;
    font-size: 3rem;
    font-weight: 950;
    font-family:cursive;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }
  nav .button-nav{
    display:flex;
    list-style: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
  nav .button-nav li a{
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    text-decoration: none;
    color:#fff;
  }
  
  .icon{
    margin-bottom: 0.5rem;
  }
  .button-nav li:nth-child(1),.button-nav li:nth-child(2),.button-nav li:nth-child(3){
    border-right:solid rgb(248, 237, 237) 0.1rem;
    height: 85%;
  }

  nav header ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
  }
nav header ul li{
    padding: 0.5rem;
    margin: 0.5rem;
}

nav header ul li:nth-child(1){
    display: flex;
    border-right:solid rgb(248, 237, 237) 0.1rem;
    height: 2rem;
}
@media (max-width: 650px) {
  nav {
    flex-direction: column;
  }
  } 