footer{
    display: flex;
    flex-direction: column;
}
.items-footer{
 display:flex;
 justify-content:space-between;
 padding: 2.5rem;
}
.items-footer  .title{
font-size: 2rem;
font-weight:900;
font-family: cursive;
}
footer .brands{
    display: inline-flex;
    font-size: 0.7rem;
}
footer .brands li,span{
    padding:0.3rem;
}
footer ul{
    list-style: none;
}
.copyright{
    padding: 1rem;
    font-size: 0.8rem;
    color: rgb(216, 216, 215);
}